body {
    background-color: black;
}

.jumbotron {
    background-image: url("images/img_starry_sky_crop.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
    color: white;
    font-family: 'Lucida Console';
    z-index: 10;
}

#jumbotronText {
    bottom: 0px;
    position: absolute;
    margin: auto;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20%;
}

.col-sm-4 {
    border: solid;
    border-color: black;
    border-radius: 15px;
    border-width: thick;
    background-color: rgba(75, 192, 192, 0.4);
    padding: 30px;
    align-content: center;
    margin: auto;
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

    .col-sm-4:hover {
        background-color: #24adff
    }

    .col-sm-4 img {
        margin: auto;
        border-radius: 30px;
    }

    .col-sm-4 span {
        font-size: 2.5em;
        color: white;
        text-shadow: 2px darkgray;
    }

.blueBackground {
    background-color: #24adff
}

.icon_words {
    display: none;
    background-color: #24adff;
    position: relative;
    z-index: 25;
    padding-top: 25%;
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    text-shadow: none;
    transition: font-size 1s;
    -moz-transition: font-size 1s; /* Firefox 4 */
    -webkit-transition: font-size 1s; /* Safari and Chrome */
}

    .icon_words:hover {
        font-size: 3em;
        color: white;
        font-weight: bold;
        text-shadow: 2px 0px 2px 0 #333;
        cursor: pointer;
    }

.iconDiv {
    position: relative;
    z-index: 24;
    overflow: hidden;
}

#chart_div {
    padding-left: 5%;
}

.skills_content {
    display: none;
}

tr:hover {
    background-color: #24adff !important;
    color: darkblue;
}

th {
    color: #24adff;
    font-weight: bold;
    background-color: #11213a;
}


/*==========================================*/

/*Circle Loader Styles*/
.center {
    position: fixed;
    text-align: center;
    vertical-align: central;
    z-index: 0;
}

​ .space {
    height: 50px;
    margin: auto;
    width: 100%;
}

@-webkit-keyframes rotateSlowRight {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.rotateSlowRight {
    -webkit-animation-name: rotateSlowRight;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateSlowLeft {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-359deg);
    }
}

.rotateSlowLeft {
    -webkit-animation-name: rotateSlowLeft;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateFastLeft {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-359deg);
    }
}

.rotateFastLeft {
    -webkit-animation-name: rotateFastLeft;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateFastRight {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.rotateFastRight {
    -webkit-animation-name: rotateFastRight;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateSuperFastLeft {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-359deg);
    }
}

.rotateSuperFastLeft {
    -webkit-animation-name: rotateSuperFastLeft;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.c1 {
    z-index: 2;
}

.c2 {
    z-index: 3;
}

.c3 {
    z-index: 4;
}

.c4 {
    z-index: 5;
}

.c5 {
    z-index: 6;
}

.c6 {
    z-index: 7;
}

.c7 {
    z-index: 8;
}


.spin {
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
    display: block;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

    #loader img {
        width: 40%;
        position: fixed;
        margin: auto;
        bottom: 0;
    }

#loaderText {
    color: white;
    position: relative;
    z-index: 200;
    text-align: center;
    margin: auto;
    width: 20%;
    height: 40%;
    border-radius: 400px;
    background-color: blue;
}
/*=============================================*/
